<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Submit Page</title>
  </head>
  <body>
    <h1>Real estate Prediction</h1>
    <form action = "/" method = "POST">
        <input type = "text" name = "X1_transaction_date" placeholder="X1_transaction_date" required>
        <input type = "text" name = "X2_house_age" placeholder="X2_house_age" required>
        <input type = "text" name = "X3_distance_to_nearest_MRT_station" placeholder="X3_distance_to_nearest_MRT_station" required>
        <input type = "text" name = "X4_number_of_convenience_stores" placeholder="X4_number_of_convenience_stores" required>
        <input type = "text" name = "X5_latitude" placeholder="X5_latitude" required>
        <input type = "text" name = "X6_longitude" placeholder="X6_longitude"  required>
        <input type = "submit">
    </form>

    {%  if estate_pred %}
          <p>Your predicted real estate amount : </p> {{estate_pred}}
    {%endif%}

  </body>
</html>
